**
!package.json
!extension.js
!auth.js
!browser-auth.js
!dashboard.js
!stats.js
!bridge-stream.js
!copilot-config.js
!copilot-models.js
!genai-models.json
!model-pricing.json
!PRICING.md
!README.md
!GENAI-README.md
!LICENSE
!CHANGELOG.md
!media/**
!node_modules/**
